*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --col01: rgb(0,0,0);
    --col02: rgb(80,80,80);
    --col03: rgb(160,160,160);
    --col04: rgb(240,240,240);
    --border: solid 2rem var(--col03)
}

#canvas1 {
    background: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}



.hoverTrigger{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    min-width: 300px;
    border: 10px solid rgba(255, 0, 0, 0);  /* This line adds a border */
    display: flex;
    justify-content: center;
    transition: opacity 0.3s ease-in-out; /* This line makes it fade smoothly */
    /* trying to add pointer-events: none; to trigger changing the opacity of my name card wont work because none of the canvas elements underneath trigger 
      */
}

#caption {

    /* using font neutral face -- note to self need to properly import and use as text  */
    color: rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(240, 248, 255, 0.461);
    padding: 20px;
    /* border-radius: 50px; */
    backdrop-filter: blur(50px);
    transition: opacity 0.2s ease-in-out; /* This line makes it fade smoothly */
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
    min-width: 200px;
}


img {
    width: 100%;
    height: auto;
  }
  

/* .hoverTrigger:hover {
    opacity: 0;
/* pointer-events: none; */



.popupCard {
position: relative;
align-items: center;
width: 60%;
background-color: rgba(240, 248, 255, 0.461);
padding: 30px;
/* border-radius: 50px; */
backdrop-filter: blur(20px);
/* display: none; */
text-align: center;
margin: 20px;
}

/* changing the properties for mobile devices because blur doesnt work
so I increased the opacity to make the text more legible and 
increasing the sizing of the div / decreasing the padding allows the content to sit better on the page */

@media only screen and (max-width: 480px) {
    .popupCard {
        background-color: rgba(240, 248, 255, 0.906);
        width: 97%;
        padding: 15px;
    }
}


/* having issues where if the content is fixed on the background the scroll doesnt trigger unless hovered over 
the area that is scrollable. 
thinking to myself if this should be a feature not a bug. the user is stuck on the initial page until they interact 
with the site */

.contentHolder{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
    top: 100%


}

.closeButton{
    position:absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    cursor: pointer;
}

h1{
    font-family: 'Neutral Face', sans-serif;
    font-weight: lighter;
}

h2{ font-family: 'Neutral Face', sans-serif;
    font-size: medium;
    font-weight: lighter;
}

p { font-family: 'Lato', sans-serif;}

.ThreeDMeDiv {
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: rgba(240, 248, 255, 0.461);
padding: 30px;
border-radius: 50px;
backdrop-filter: blur(50px);
display: none;
text-align: center;
}

body{
    font-family: 'Lato', sans-serif;
}

.imageFlex{
    display: flex;
    flex-wrap: wrap;
}

.HousePartyFlexBox{
    width: 30%;
}

body, html {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}

.bodyTextPopups{
    display: none;
}

.mediaplayphoto{
    width: 40%;
}

.mediaPlayerPhotoHolder{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}